@media (max-width:576px) {
  .main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/img/woman-sitting-laptop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: static;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

@media (max-width:850px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.card.border-white.border.rounded.shadow-lg {
  padding-bottom: 10px;
  height: 300px;
}

@media (min-width: 850px) {
  .display-3 {
    background-size: 10%;
  }
}


.btns{
  display: inline-block;
  width: 10vh;
  height: 10vh;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #78E5E1;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.btns i{
  line-height: 10vh;
  font-size: 3vw;
  transition: 0.2s linear;
}
.btns:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btns::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #78E5E1;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btns:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

.moblie {
  display: none;
}

@media (max-width:990px) {
  .moblie {
    display: block;
  }

  .desk {
    display: none;
  }
}


#about {
  background-image: url(/assets/img/bookshelf.svg);
  background-size: 30%;
  background-position: right; 
  background-repeat: no-repeat;
}

#skills {
  background-image: url(/assets/img/pen-tool.svg);
  background-position: top right;
  background-size: 30%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  #about {
    background: transparent;
  }

  #skills {
    background: transparent;
  }
}